* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: black;
}

body {
    background-image: url("static/bg.jpeg");
    height: 100vh;
    overflow: hidden;
    background-position: top center;
    font-family: "Courier New", Courier, monospace;
    background-size: cover;
}

.main {
    width: 60vh;
    height: 65vh;
    margin: 200px auto auto auto;
    background-color: cornsilk;
    text-align: center;
    padding: 10vh;
    border-radius: 20px;
    opacity: 0.7;
}

.main>* {
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    text-align: center;
    height: 40px;
    font-size: medium;
    border-radius: 10px;
    border-color: black;
    background-color: rgba(165, 42, 42, 0.612);
}

.current {
    width: 100%;
    text-align: center;
    height: 40px;
    border-radius: 10px;
    border-color: black;
}

.separator {
    height: 1px;
    width: 100%;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator::before {
    content: "or";
    font-size: 18px;
    opacity: 50%;
    color: black;
}

::placeholder {
    color: black;
    border-color: black;
}

.output {
    display: none;
    padding: 20px;
    background-color: rgba(165, 42, 42, 0.612);
    border-radius: 10px;
    height: 30vh;
    border-color: black;
}

.location-details {
    font-weight: bold;
}

.weather-status {
    padding: 20px;
}

.temp {
    font-size: xx-large;
    font-weight: 800;
    margin: 2px;
}

.minmax,
.weather {
    font-weight: bold;
}

.option {
    display: flex;
    margin: 5vh 50vh;
    padding: 3px;
    text-align: center;
    font-weight: bold;
    height: 2vh;
    justify-content: center;
}

select,
.option>* button {
    height: 30px;
    width: 120px;
    margin: 5px;
    font-weight: bold;
    border-radius: 10px;
    border-color: black;
    background-color: rgba(165, 42, 42, 0.612);
}

.device-location {
    border-radius: 10px;
    align-items: center;
    width: 100%;
    background-color: rgba(165, 42, 42, 0.612);
    border-color: black;
    font-weight: bold;
    height: 100%;
}

.device-location:hover,
.search:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 930px) {
    .option {
        flex-direction: column;
        margin-right: 200vh;
        margin-top: 17vh;
        align-items: center;
        justify-content: center;
    }
}